html,body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td, h1, h2, h3, h4, h4, h5, span,b, div  {
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  /* user-select: none; */
  font-family: PingFangSC-Regular, Helvetica, serif;
}
html,body {
  background-color: #FFFFFF;
  color: #000;
  font-size: 16px;
  text-align: center;
  height: 100%;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
}
strong {
  font-weight: normal
}
ol, ul {
  list-style: none outside none;
}
input:focus{
  tap-highlight-color: rgba(0,0,0,0);
}

